body{
}
.navbar{
  margin:0;
  background: #2D354D;
  border: none;
}
.navbar-default .navbar-brand{
  color: #ededed;
}
.navbar-default .navbar-nav > li > a{
  color: #ededed
}
.head{
  background: #3B4966;
  font-size: 13px;
  border-top: 1px solid #555;
}
.head ul{
  margin:0;
  padding:0;
}
.head ul li{
  display: inline-block;
}
.head ul li a{
  display: block;
  padding: 10px 10px;
  color: #fff;
}
.head ul li a:hover{
  background: #2D354D;
  text-decoration: none;
}
.active{
    background: #2D354D;
}

.adm-title{
  background: #66676f;
  margin-bottom:20px;
  color: #fefefe
}
.adm-panel-title{
  margin:0;
}
.panel-default > .panel-heading{
 background: #edecec80
}

/* Upload Cover */
.cover{
  background: #ddd;
}
.cover img{
  max-width: 100%;
  max-height: 100%
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #333;
    display: block;
    padding: 5px;
    text-align: center;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
/* End of Upload Cover */

.action-menu{
  margin: 0;
  padding: 0;
}
.action-menu li{
  display: inline-block;
}
.menu-header-panel{
  padding: 0;
  margin: 0
}
.menu-header-panel li{
  display: inline-block;
}

.episode-cover{
  width:640px;
  max-width: 640px;
  background: #ddd;
}
.pagination{
  margin: 0
}


.underliner{
  background: #eee;
  margin-top: 20px;
  padding:20px 0;
}
.panel-action{
  padding:15px;
}